# Day1

Variables and operators

In [9]:
print("this is ram here")

this is ram here

In [4]:
print(2+2)

4

In [5]:
a=10
print(a)

10

In [6]:
a=b=c="ram"
print(a)
print(b)
print(c)

ram
ram
ram

In [7]:
a,b,c="ram","shyam","ashok"
print(a)
print(b)
print(c)

ram
shyam
ashok

# operators

In [10]:
a=10
b=10
print(a+b)

20

In [11]:
a=10
b=10
print(a-b)

0

In [12]:
a=10
b=10
print(a*b)

100

In [14]:
a=2+5j
b=4
print(a+b)

(6+5j)

In [17]:
a=2+5j
b=4
print(a-b)
print(type(a))

(-2+5j)
<class 'complex'>

In [24]:
a= 10
b= 50
print(a < b)

True

In [27]:
a=[1,2,3,4,5]
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [28]:
a=(1,2,3,4,5)
print(a)
print(type(a))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [1]:
import numpy as np
a = np.arange(10)
print(a[2:5])

[2 3 4]

In [4]:
a = np.array([[1, 2], [3, 4]])
print(a.ndim)

2

In [5]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
c = a + b
print(c)

[5 7 9]

In [6]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
c = np.concatenate((a, b))
print(c)

[1 2 3 4 5 6]

In [7]:
a = np.array([[1,2,3],[4,5,6]])
a[1,2]

6

In [8]:
print(np.zeros(5).dtype)

float64

In [13]:
arr = np.array([[1,2,3],[4,5,6]]) 
np.hstack((arr,arr))

array([[1, 2, 3, 1, 2, 3],
       [4, 5, 6, 4, 5, 6]])

In [15]:
a = np.array([1,2,3]) 
print(a)

[1 2 3]

In [16]:
import pandas as pnd
pnd.Series([1,2], index= ['a','b','c'])

ValueError: Length of values (2) does not match length of index (3)

In [17]:
import pandas as pd
s =pd.Series([1,2,3,4,5],index= ['a','b','c','d','e'])
print(s['f'])

KeyError: 'f'

In [18]:
Import pandas as pd
Import numpy as np  
df = pd.DataFrame(np.array([[4,6,9],[5,1,3]]))
print(df.shape)

SyntaxError: invalid syntax (1402523538.py, line 1)

In [23]:
import pandas as pd
df = pd.read_csv('Shark_Tank.csv')
df

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,Plant-Based Protein,0,60.0,2.0,3000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
113,34,114,On2Cook,Fastest Cooking Device,0,100.0,1.0,10000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
114,35,115,Jain Shikanji,Lemonade,1,40.0,8.0,500.00,40.0,30.00,...,1,1,1,0,1,0,0,4,10.0,7.500000
115,35,116,Woloo,Washroom Finder,0,50.0,4.0,1250.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.5,4000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [25]:
df.head(10)

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.00,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.00,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.00,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.00,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.00,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
5,2,6,Agro tourism,Tourism,0,50.0,5.00,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
6,3,7,Qzense Labs,Food Freshness Detector,0,100.0,0.25,40000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
7,3,8,Peeschute,Disposable Urine Bag,1,75.0,4.00,1875.00,75.0,6.00,...,0,0,1,0,0,0,0,1,75.0,6.000000
8,3,9,NOCD,Energy Drink,1,50.0,2.00,2500.00,20.0,15.00,...,0,0,0,0,1,0,0,1,20.0,15.000000
9,4,10,Cosiq,Intelligent Skincare,1,50.0,7.50,666.67,50.0,25.00,...,0,1,0,0,1,0,0,2,25.0,12.500000

In [28]:
df.tail(8)

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
109,33,110,Proxgy,VR,1,35.0,1.0,3500.0,10.0,10.0,...,1,0,0,0,0,1,0,2,5.0,5.0
110,34,111,Nomad Food Project,Bacon Jams,1,40.0,10.0,400.0,40.0,20.0,...,1,0,0,1,1,0,1,4,10.0,5.0
111,34,112,Twee in One,Reversible and convertible clothing,0,30.0,7.5,400.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
112,34,113,Green Protein,Plant-Based Protein,0,60.0,2.0,3000.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
113,34,114,On2Cook,Fastest Cooking Device,0,100.0,1.0,10000.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
114,35,115,Jain Shikanji,Lemonade,1,40.0,8.0,500.0,40.0,30.0,...,1,1,1,0,1,0,0,4,10.0,7.5
115,35,116,Woloo,Washroom Finder,0,50.0,4.0,1250.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0
116,35,117,Elcare India,Carenting for Elders,0,100.0,2.5,4000.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0.0,0.0

In [29]:
df.describe()

,episode_number,pitch_number,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,deal_valuation,ashneer_present,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,...,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000
mean,18.735043,59.000000,0.555556,319.854709,5.188034,3852.462479,31.982915,8.963504,467.104872,0.837607,...,0.179487,0.205128,0.239316,0.188034,0.128205,0.230769,0.059829,1.230769,18.132481,5.583590
std,10.070778,33.919021,0.499041,2767.842777,3.892121,11931.601957,36.687391,13.106769,919.988864,0.370397,...,0.385410,0.405532,0.428501,0.392420,0.335756,0.423137,0.238190,1.410457,23.588682,10.803799
min,1.000000,1.000000,0.000000,0.001010,0.250000,0.010000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,10.000000,30.000000,0.000000,45.000000,2.500000,666.670000,0.000000,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,19.000000,59.000000,1.000000,50.000000,5.000000,1250.000000,25.000000,3.000000,100.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,10.000000,1.250000
75%,27.000000,88.000000,1.000000,80.000000,7.500000,2857.140000,50.000000,15.000000,500.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,25.000000,6.000000
max,35.000000,117.000000,1.000000,30000.000000,25.000000,120000.000000,150.000000,75.000000,6666.670000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,100.000000,75.000000

In [47]:
df[df.dtypes[df.dtypes == "object"].index]

              brand_name                                           idea
0    BluePine Industries                                   Frozen Momos
1          Booz scooters  Renting e-bike for mobility in private spaces
2    Heart up my Sleeves                             Detachable Sleeves
3             Tagz Foods                           Healthy Potato Chips
4         Head and Heart                       Brain Development Course
..                   ...                                            ...
112        Green Protein                            Plant-Based Protein
113              On2Cook                         Fastest Cooking Device
114        Jain Shikanji                                       Lemonade
115                Woloo                                Washroom Finder
116         Elcare India                           Carenting for Elders

[117 rows x 2 columns]

In [36]:
df[["episode_number","brand_name"]]

     episode_number           brand_name
0                 1  BluePine Industries
1                 1        Booz scooters
2                 1  Heart up my Sleeves
3                 2           Tagz Foods
4                 2       Head and Heart
..              ...                  ...
112              34        Green Protein
113              34              On2Cook
114              35        Jain Shikanji
115              35                Woloo
116              35         Elcare India

[117 rows x 2 columns]

In [48]:
df["brand_name"]

0      BluePine Industries
1            Booz scooters
2      Heart up my Sleeves
3               Tagz Foods
4           Head and Heart
              ...
112          Green Protein
113                On2Cook
114          Jain Shikanji
115                  Woloo
116           Elcare India
Name: brand_name, Length: 117, dtype: object

In [52]:
df.insert(loc = 3,column="food", value="bread")

In [53]:
df

,episode_number,pitch_number,brand_name,food,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,bread,Frozen Momos,1,50.0,5.0,1000.00,75.0,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,bread,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,bread,Detachable Sleeves,1,25.0,10.0,250.00,25.0,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,bread,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,bread,Brain Development Course,0,50.0,5.0,1000.00,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,bread,Plant-Based Protein,0,60.0,2.0,3000.00,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000000
113,34,114,On2Cook,bread,Fastest Cooking Device,0,100.0,1.0,10000.00,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000000
114,35,115,Jain Shikanji,bread,Lemonade,1,40.0,8.0,500.00,40.0,...,1,1,1,0,1,0,0,4,10.0,7.500000
115,35,116,Woloo,bread,Washroom Finder,0,50.0,4.0,1250.00,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000000
116,35,117,Elcare India,bread,Carenting for Elders,0,100.0,2.5,4000.00,0.0,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [54]:
df.insert(3,"ram",23)

In [55]:
df

,episode_number,pitch_number,brand_name,ram,food,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,23,bread,Frozen Momos,1,50.0,5.0,1000.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,23,bread,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,23,bread,Detachable Sleeves,1,25.0,10.0,250.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,23,bread,Healthy Potato Chips,1,70.0,1.0,7000.00,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,23,bread,Brain Development Course,0,50.0,5.0,1000.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,23,bread,Plant-Based Protein,0,60.0,2.0,3000.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
113,34,114,On2Cook,23,bread,Fastest Cooking Device,0,100.0,1.0,10000.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
114,35,115,Jain Shikanji,23,bread,Lemonade,1,40.0,8.0,500.00,...,1,1,1,0,1,0,0,4,10.0,7.500000
115,35,116,Woloo,23,bread,Washroom Finder,0,50.0,4.0,1250.00,...,0,0,0,0,0,0,0,0,0.0,0.000000
116,35,117,Elcare India,23,bread,Carenting for Elders,0,100.0,2.5,4000.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

In [56]:
df["ashok"] = 25

In [57]:
df

,episode_number,pitch_number,brand_name,ram,food,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,...,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark,ashok
0,1,1,BluePine Industries,23,bread,Frozen Momos,1,50.0,5.0,1000.00,...,0,1,0,1,0,0,3,25.0,5.333333,25
1,1,2,Booz scooters,23,bread,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,...,0,0,0,1,0,0,2,20.0,25.000000,25
2,1,3,Heart up my Sleeves,23,bread,Detachable Sleeves,1,25.0,10.0,250.00,...,1,0,0,1,0,0,2,12.5,15.000000,25
3,2,4,Tagz Foods,23,bread,Healthy Potato Chips,1,70.0,1.0,7000.00,...,0,0,0,0,0,0,1,70.0,2.750000,25
4,2,5,Head and Heart,23,bread,Brain Development Course,0,50.0,5.0,1000.00,...,0,0,0,0,0,0,0,0.0,0.000000,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112,34,113,Green Protein,23,bread,Plant-Based Protein,0,60.0,2.0,3000.00,...,0,0,0,0,0,0,0,0.0,0.000000,25
113,34,114,On2Cook,23,bread,Fastest Cooking Device,0,100.0,1.0,10000.00,...,0,0,0,0,0,0,0,0.0,0.000000,25
114,35,115,Jain Shikanji,23,bread,Lemonade,1,40.0,8.0,500.00,...,1,1,0,1,0,0,4,10.0,7.500000,25
115,35,116,Woloo,23,bread,Washroom Finder,0,50.0,4.0,1250.00,...,0,0,0,0,0,0,0,0.0,0.000000,25
116,35,117,Elcare India,23,bread,Carenting for Elders,0,100.0,2.5,4000.00,...,0,0,0,0,0,0,0,0.0,0.000000,25